openapi: 3.0.3
info:
  title: StockAlert.pro API
  version: 1.1.0
  contact:
    name: StockAlert.pro Support
    email: support@stockalert.pro
    url: https://stockalert.pro/imprint
  license:
    name: Proprietary
    url: https://stockalert.pro/terms
  termsOfService: https://stockalert.pro/terms
  description: |
    Unified v1 API for alerts, watchlists, stocks, webhooks and API keys.

    Authentication: API Key (`X-API-Key`), Bearer JWT (`Authorization: Bearer <token>`) or Session (first‑party web).

externalDocs:
  description: Complete API documentation and guides
  url: https://docs.stockalert.pro/api
servers:
  - url: https://stockalert.pro
    description: Production
tags:
  - name: Alerts
    description: Manage price and technical alerts
  - name: Watchlist
    description: Manage your watchlist items and AI analysis
  - name: Webhooks
    description: Manage outgoing webhooks for alert events
  - name: API Keys
    description: Manage API keys for programmatic access
  - name: Stocks
    description: Stocks catalog and details
  - name: Market
    description: Internal market insights endpoints
  - name: Feedback
    description: Collect and manage user feedback (internal)
  - name: User
    description: Account, session and preferences (internal)
  - name: Auth
    description: Authentication and session management
  - name: Utilities
    description: Shared utility endpoints (redirects)
  - name: Cron
    description: Internal scheduled jobs (Vercel Cron)

paths:
  /api/v1/redirect:
    get:
      x-internal: true
      tags: [Utilities]
      operationId: redirect
      summary: Redirect to an external URL
      description: Wraps outbound links (e.g., email/news) with the StockAlert.pro domain.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: u
          in: query
          required: true
          description: Absolute URL to redirect to (http/https only)
          schema:
            type: string
            format: uri
        - name: source
          in: query
          required: false
          description: Optional source label for attribution (e.g., `email_news`)
          schema: { type: string }
        - name: symbol
          in: query
          required: false
          description: Stock symbol for tracking
          schema: { type: string }
        - name: uid
          in: query
          required: false
          description: User id for tracking
          schema: { type: string }
        - name: tid
          in: query
          required: false
          description: Trigger id for tracking
          schema: { type: string }
      responses:
        '302':
          description: Redirect to the provided URL
          headers:
            Location:
              description: Target URL
              schema: { type: string, format: uri }
        '400':
          description: Invalid or missing `u` parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
              example:
                error: invalid_url

  /api/v1/stocks:
    get:
      tags: [Stocks]
      x-internal: true
      operationId: stocksList
      summary: List stocks
      description: Paginated list of stocks with optional search and filters.
      # Internal: guest allowed for first‑party only; API key not supported
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitAlertsList'
        - name: active
          in: query
          schema: { type: boolean }
        - name: fields
          in: query
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
          description: "CSV projection: `details` (include stock_details), `fundamentals` (include stock_fundamentals)"
        - name: include_inactive
          in: query
          schema: { type: boolean }
          description: Include inactive stocks if `true` (default returns only active)
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiSuccessStocksListEnvelope'
                  - $ref: '#/components/schemas/ApiSuccessStocksSearchEnvelope'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      tags: [Stocks]
      x-internal: true
      operationId: stocksUpsert
      summary: Upsert stock
      description: |
        Ensures a stock exists (create if missing). May enqueue background jobs.
      x-required-scopes: [stocks:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol]
              properties:
                symbol: { type: string }
                name: { type: string }
                type: { type: string }
                exchange: { type: string }
                activate: { type: boolean }
      responses:
        '201': { $ref: '#/components/responses/Created' }
        '200': { $ref: '#/components/responses/Ok' }
        '202':
          description: Accepted; background jobs enqueued
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      symbol: { type: string }
                      created: { type: boolean }
                      jobs_queued: { type: integer }
                  meta:
                    type: object
                    properties:
                      rate_limit: { $ref: '#/components/schemas/MetaRateLimit' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/stocks/{symbol}:
    get:
      tags: [Stocks]
      operationId: stocksGet
      summary: Get stock detail
      description: Returns a single stock with optional fundamentals.
      x-required-scopes: [stocks:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string }
        - name: fields
          in: query
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
          description: "CSV projection: `fundamentals` (include stock_fundamentals)"
      responses:
        '200':
          description: Successful
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiSuccessStockEnvelope'
                  - $ref: '#/components/schemas/ApiSuccessStockWithFundamentalsEnvelope'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      tags: [Stocks]
      x-internal: true
      operationId: stocksPatch
      summary: Update stock
      description: Update mutable fields like active state.
      security:
        - BearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active: { type: boolean }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/stocks/{symbol}/earnings:
    get:
      tags: [Stocks]
      x-internal: true
      operationId: stocksEarnings
      summary: Get earnings timeline
      description: Returns upcoming and recent earnings information.
      # Internal: guest allowed for first‑party only; API key not supported
      security:
        - BearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/stocks/{symbol}/analysis:
    get:
      tags: [Stocks]
      x-internal: true
      operationId: stocksAnalysis
      summary: AI stock analysis (internal)
      description: Server-sent events stream with AI-generated analysis and recommendations.
      security:
        - BearerAuth: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string }
        - name: investment_horizon
          in: query
          required: false
          schema: { type: integer, minimum: 1 }
          description: Optional horizon in days to tailor the analysis
      responses:
        '200':
          description: Streaming analysis events
          content:
            text/event-stream:
              schema:
                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/quotes:
    get:
      tags: [Stocks]
      x-internal: true
      operationId: quotesBulk
      summary: Get bulk quotes
      description: Lightweight prices for multiple symbols.
      # Internal: guest allowed for first‑party only; API key not supported
      security:
        - BearerAuth: []
      parameters:
        - name: symbols
          in: query
          required: true
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
          description: CSV list of symbols (e.g., AAPL,MSFT)
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/watchlist:
    get:
      tags: [Watchlist]
      operationId: watchlistList
      summary: List watchlist items
      description: Returns current user's watchlist items.
      x-required-scopes: [watchlist:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistListEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - id: "00000000-0000-4000-8000-000000000001"
                        stock_symbol: "AAPL"
                        intention: "buy"
                        target_price: 200
                        initial_price: 189.2
                        auto_alerts_enabled: true
                        stocks:
                          symbol: "AAPL"
                          name: "Apple Inc."
                          last_price: 189.2
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      tags: [Watchlist]
      operationId: watchlistCreate
      summary: Add item to watchlist
      description: Creates a new watchlist item.
      x-required-scopes: [watchlist:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateWatchlistItemRequest' }
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistItemEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000002"
                      stock_symbol: "MSFT"
                      intention: "sell"
                      initial_price: 300
                      auto_alerts_enabled: false
                      stocks:
                        symbol: "MSFT"
                        name: "Microsoft Corp."
                        last_price: 300.1
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/watchlist/{id}:
    patch:
      tags: [Watchlist]
      operationId: watchlistUpdate
      summary: Update watchlist item
      description: Update fields of an existing watchlist item.
      x-required-scopes: [watchlist:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateWatchlistItemRequest' }
      responses:
        '200':
          description: Updated
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistItemEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000002"
                      stock_symbol: "MSFT"
                      intention: "sell"
                      target_price: 305
                      initial_price: 300
                      auto_alerts_enabled: false
                      stocks:
                        symbol: "MSFT"
                        name: "Microsoft Corp."
                        last_price: 301.5
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Watchlist]
      operationId: watchlistDelete
      summary: Delete watchlist item
      description: Delete an item from the watchlist.
      x-required-scopes: [watchlist:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deleted
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistDeletedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      deleted: true
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/watchlist/order:
    put:
      tags: [Watchlist]
      operationId: watchlistSwapIntention
      summary: Swap intention (buy/sell) and reanalyze
      description: Resets initial price and queues analysis for intention change.
      x-required-scopes: [watchlist:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SwapIntentionRequest' }
      responses:
        '200':
          description: Updated
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistOrderEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      item:
                        id: "00000000-0000-4000-8000-000000000003"
                        stock_symbol: "AAPL"
                        intention: "buy"
                        initial_price: 189.2
                        auto_alerts_enabled: true
                        stocks:
                          symbol: "AAPL"
                          name: "Apple Inc."
                          last_price: 190.0
                      deleted_alerts: 2
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/watchlist/paper-trades:
    get:
      tags: [Watchlist]
      operationId: watchlistPaperTrades
      summary: List watchlist paper trades
      description: Returns simulated paper trades for the current user.
      x-required-scopes: [watchlist:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistPaperTradesEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - id: "00000000-0000-4000-8000-000000000010"
                        user_id: "00000000-0000-4000-8000-000000000001"
                        watchlist_id: "00000000-0000-4000-8000-000000000002"
                        watchlist_item_id: "00000000-0000-4000-8000-000000000003"
                        symbol: "NVDA"
                        direction: "long"
                        notional_usd: 1000
                        quantity: 2.5
                        entry_price: 400
                        entry_at: "2024-10-01T14:35:00Z"
                        status: "open"
                        exit_price: null
                        exit_at: null
                        realized_pnl_usd: null
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/watchlist/performance:
    get:
      tags: [Watchlist]
      operationId: watchlistPerformance
      summary: Watchlist paper portfolio performance vs. S&P 500
      description: >
        Returns the simulated paper portfolio performance for the current user,
        compared against an S&P 500 benchmark, normalized to 100 at the first
        available day in the selected range.
      x-required-scopes: [watchlist:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - in: query
          name: range
          schema:
            type: string
            enum: [3m,6m,1y,max]
          required: false
          description: >
            Time range for the performance series.
            Defaults to `max` (from first paper trade until today).
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWatchlistPerformanceEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      range: "1y"
                      base_date: "2024-01-01"
                      series:
                        watchlist:
                          - { date: "2024-01-01", value: 100.0 }
                          - { date: "2024-02-01", value: 105.3 }
                          - { date: "2024-03-01", value: 98.7 }
                        sp_500:
                          - { date: "2024-01-01", value: 100.0 }
                          - { date: "2024-02-01", value: 101.2 }
                          - { date: "2024-03-01", value: 103.0 }
                      summary:
                        watchlist_return_pct: 5.3
                        sp500_return_pct: 3.0
                        alpha_pct: 2.3
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/api-keys:
    get:
      tags: [API Keys]
      x-internal: true
      operationId: apiKeysList
      summary: List API keys
      description: Returns API keys for the authenticated user (prefix only).
      x-required-scopes: [api-keys:read]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessApiKeysListEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - id: "a1111111-2222-3333-4444-555555555555"
                        name: "CI Token"
                        key_prefix: "sk_12ab3c4"
                        rate_limit_tier: "basic"
                        is_active: true
                        created_at: "2025-01-01T12:00:00.000Z"
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      tags: [API Keys]
      x-internal: true
      operationId: apiKeysCreate
      summary: Create API key
      description: |
        Creates a new API key. The plaintext key is returned only once.
        - Basic accounts can create 1 active API key.
        - Premium and Early Bird accounts can create unlimited API keys.
      x-required-scopes: [api-keys:write]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessApiKeyEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "b2222222-3333-4444-5555-666666666666"
                      name: "My Integration"
                      key_prefix: "sk_ab12cd3"
                      created_at: "2025-01-01T12:00:00.000Z"
                      rate_limit_tier: "premium"
                      api_key: "sk_abcdef0123456789abcdef0123456789abcdef0123456789abcdef0123456789"
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/api-keys/{id}:
    delete:
      tags: [API Keys]
      x-internal: true
      operationId: apiKeysDelete
      summary: Delete API key
      description: Deletes the specified API key.
      x-required-scopes: [api-keys:write]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deleted
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      id: { type: string }
                  meta:
                    type: object
                    properties:
                      rate_limit: { $ref: '#/components/schemas/MetaRateLimit' }
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000004"
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts:
    get:
      tags: [Alerts]
      operationId: alertsList
      summary: List alerts
      description: Get a paginated list of alerts.
      x-required-scopes: [alerts:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitAlertsList'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/ConditionFilter'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SortField'
        - $ref: '#/components/parameters/SortDirection'
        - $ref: '#/components/parameters/Minimal'
        - $ref: '#/components/parameters/Extended'
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertsListEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - id: "a5d7e3f0-1234-4d8a-9c2b-111111111111"
                        symbol: "AAPL"
                        condition: "price_above"
                        threshold: 200
                        notification: "email"
                        status: "active"
                        created_at: "2025-01-01T12:00:00.000Z"
                        initial_price: 189.2
                        parameters: null
                    meta:
                      pagination: { page: 1, limit: 50, total: 1, total_pages: 1 }
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      tags: [Alerts]
      operationId: alertsCreate
      summary: Create alert
      description: |
        Create a new alert.
        - Guest (no auth): allowed only when an `email` is supplied. The alert is created as `inactive` and must be verified via `POST /api/v1/alerts/verify`.
        - Basic accounts can only create Price and Time alerts. Technical, Volume, Fundamental, and Dividend alerts require Premium or Early Bird.
      x-required-scopes: [alerts:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAlertRequest' }
      responses:
        '200':
          description: Existing alert returned (idempotency)
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      symbol: "AAPL"
                      condition: "price_above"
                      threshold: 200
                      notification: "email"
                      status: "active"
                      created_at: "2025-01-01T12:00:00.000Z"
                      initial_price: 189.2
                      parameters: { onboarding_id: "dup-1" }
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '201':
          description: Created
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      symbol: "AAPL"
                      condition: "price_above"
                      threshold: 200
                      notification: "email"
                      status: "active"
                      created_at: "2025-01-01T12:00:00.000Z"
                      initial_price: 189.2
                      parameters: { onboarding_id: "dup-1" }
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
                daily_reminder_after_close:
                  value:
                    success: true
                    data:
                      id: "7c2d9eab-3333-4a7b-9c3b-333333333333"
                      symbol: "MSFT"
                      condition: "daily_reminder"
                      threshold: null
                      notification: "email"
                      status: "active"
                      created_at: "2025-01-02T12:00:00.000Z"
                      initial_price: 370.5
                      parameters: { delivery_time: "after_market_close" }
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts/{id}:
    get:
      tags: [Alerts]
      operationId: alertsGet
      summary: Get alert
      description: Get alert by id.
      x-required-scopes: [alerts:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Successful
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      symbol: "AAPL"
                      condition: "price_above"
                      threshold: 200
                      notification: "email"
                      status: "active"
                      created_at: "2025-01-01T12:00:00.000Z"
                      triggered_at: null
                      initial_price: 189.2
                      parameters: null
                      stock:
                        name: "Apple Inc."
                        last_price: 190.1
                        high_52w: 210
                        low_52w: 120
                        rsi: 52
                        ma_50: 185
                        ma_200: 170
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      tags: [Alerts]
      operationId: alertsUpdate
      summary: Update alert
      description: Full update of an alert.
      x-required-scopes: [alerts:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAlertRequest' }
      responses:
        '200':
          description: Updated
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertEnvelope'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Alerts]
      operationId: alertsDelete
      summary: Delete alert
      description: Delete an alert by id.
      x-required-scopes: [alerts:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Deleted
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertDeletedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      alert_id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      status: deleted
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts/{id}/pause:
    post:
      tags: [Alerts]
      operationId: alertsPause
      summary: Pause alert
      description: Pause an active alert.
      x-required-scopes: [alerts:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Paused
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertPausedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      alert_id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      status: paused
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts/{id}/activate:
    post:
      tags: [Alerts]
      operationId: alertsActivate
      summary: Activate alert
      description: Reactivate a paused or inactive alert.
      x-required-scopes: [alerts:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Activated
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertActivatedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      alert_id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                      status: active
                      initial_price: 189.2
                    meta:
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/alerts/{id}/history:
    get:
      tags: [Alerts]
      operationId: alertsHistory
      summary: Alert history
      description: Get history of an alert.
      x-required-scopes: [alerts:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitHistory'
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertHistoryEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - alert_id: "2f8d0f7b-2222-4c3a-b1c3-222222222222"
                        symbol: "AAPL"
                        action_type: triggered
                        action_timestamp: "2025-01-01T12:34:56.000Z"
                        previous_status: active
                        new_status: triggered
                        trigger_price: 205.5
                    meta:
                      pagination: { page: 1, limit: 50, total: 1, total_pages: 1 }
                      rate_limit: { limit: 200, remaining: 199, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }


  /api/v1/alerts/verify:
    post:
      tags: [Alerts]
      x-internal: true
      operationId: alertsVerify
      summary: Verify alert
      description: Verify alert via token (internal; first‑party only)
      x-required-scopes: [alerts:write]
      # Internal: requires Bearer auth; API key not supported
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '200':
          description: Verified
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessAlertVerifyEnvelope'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts/verify/attach:
    post:
      tags: [Alerts]
      x-internal: true
      operationId: alertsVerifyAttach
      summary: Attach alert to current user and mark as verified
      description: Assigns an existing alert to the authenticated user and activates it.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [alert_id]
              properties:
                alert_id: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/alerts/history:
    post:
      tags: [Alerts]
      x-internal: true
      operationId: alertsHistoryLog
      summary: Log alert history
      description: Append a history entry (internal).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlertHistoryCreateRequest' }
      responses:
        '200': { $ref: '#/components/responses/Ok' }

  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: webhooksList
      summary: List webhooks
      description: Returns configured webhooks.
      x-required-scopes: [webhooks:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
        - SessionCookieAuth: []
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWebhooksListEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      - id: "00000000-0000-4000-8000-000000000005"
                        user_id: "00000000-0000-4000-8000-0000000000aa"
                        url: "https://example.com/webhook"
                        events: ["alert.triggered"]
                        is_active: true
                        created_at: "2025-01-01T12:00:00.000Z"
                    meta:
                      rate_limit: { limit: 1000, remaining: 999, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      summary: Create webhook
      tags: [Webhooks]
      operationId: webhooksCreate
      description: |
        Create a new webhook.

        Deliveries sent to your endpoint include signed headers for verification:
        - `X-StockAlert-Event`: the event type (e.g. `alert.triggered`, `alert.paused`, `alert.deleted`)
        - `X-StockAlert-Timestamp`: Unix epoch milliseconds when the event was generated
        - `X-StockAlert-Signature`: HMAC SHA-256 signature in the format `sha256=<hex>` computed over `${timestamp}.${rawBody}` using your webhook secret

        The JSON body of deliveries follows the `WebhookEvent` schema.
      x-required-scopes: [webhooks:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
        - SessionCookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  description: "Allowed values: alert.triggered"
                  items:
                    type: string
                    enum: [alert.triggered]
                secret: { type: string }
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWebhookCreatedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000006"
                      url: "https://example.com/webhook"
                      events: ["alert.triggered"]
                      secret: "redacted"
                      is_active: true
                      created_at: "2025-01-01T12:00:00.000Z"
                    meta:
                      rate_limit: { limit: 1000, remaining: 999, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/webhooks/{id}:
    get:
      summary: Get webhook
      tags: [Webhooks]
      operationId: webhooksGet
      description: Get webhook by id.
      x-required-scopes: [webhooks:read]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
        - SessionCookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWebhookEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000005"
                      user_id: "00000000-0000-4000-8000-0000000000aa"
                      url: "https://example.com/webhook"
                      events: ["alert.triggered"]
                      is_active: true
                      created_at: "2025-01-01T12:00:00.000Z"
                    meta:
                      rate_limit: { limit: 1000, remaining: 999, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      summary: Delete webhook
      tags: [Webhooks]
      operationId: webhooksDelete
      description: Delete a webhook by id.
      x-required-scopes: [webhooks:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
        - SessionCookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deleted
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWebhookDeletedEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      id: "00000000-0000-4000-8000-000000000005"
                    meta:
                      rate_limit: { limit: 1000, remaining: 999, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/webhooks/test:
    post:
      summary: Send test webhook
      tags: [Webhooks]
      operationId: webhooksTest
      description: |
        Sends a test event to your webhook URL.

        The outgoing request includes the following headers on your endpoint:
        - `X-StockAlert-Event`
        - `X-StockAlert-Timestamp`
        - `X-StockAlert-Signature` (HMAC SHA-256, `sha256=<hex>`) using your webhook secret

        The payload conforms to `WebhookEvent`.
      x-required-scopes: [webhooks:write]
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
        - SessionCookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, secret]
              properties:
                url: { type: string, format: uri }
                secret: { type: string }
      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessWebhookTestEnvelope'
              examples:
                example:
                  value:
                    success: true
                    data:
                      status: 200
                      status_text: OK
                      response: "ok"
                    meta:
                      rate_limit: { limit: 5, remaining: 4, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Forbidden (missing scope)
        '429': { $ref: '#/components/responses/RateLimited' }

  # Internal market endpoints (excluded from public via x-internal)
  /api/v1/market/performance:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketPerformance
      summary: Market performance for symbols
      description: |
        Returns performance percentage for the requested symbols and time period using adjusted close prices.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: symbols
          in: query
          required: true
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
          description: Comma-separated symbols (e.g., AAPL,SPY,ACWI)
        - name: period
          in: query
          schema: { type: string, enum: ["1m","3m","6m","1y","3y","5y","10y"] }
          description: Optional period for which to return performance
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/undervalued:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketUndervalued
      summary: Top undervalued stocks by sector-relative P/E
      description: Returns undervalued stocks based on P/E vs. sector average.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/indices:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketIndices
      summary: Major indices snapshot (internal)
      description: Returns a snapshot of major market indices (SPY, DIA, QQQ, IWM, VIXY) with price and change metrics.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/top-movers:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketTopMovers
      summary: Top gainers/losers and most active (internal)
      description: Returns lists of top gainers, top losers, and most active stocks for the current session.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/fear-greed:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketFearGreed
      summary: Fear & Greed Index (internal)
      description: Returns the Fear & Greed Index data from cache, including current value and 10 days of historical data.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/news:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketNews
      summary: Market news (internal)
      description: Returns normalized market news items from upstream provider.
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: topic
          in: query
          required: false
          schema: { type: string }
          description: Topic (hyphens allowed; mapped to Alpha Vantage topic codes)
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 50 }
          description: Max number of items (default 10)
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/billionaires:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketBillionaires
      summary: Top 100 billionaires snapshot (internal)
      description: Returns billionaire data with last_updated and source. Uses Supabase cache with weekday/weekend semantics.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/insights:
    get:
      tags: [Market]
      x-internal: true
      operationId: getInsights
      summary: AI Market Insights - Daily Analysis
      description: |
        Daily AI stock analysis with scoring from -100 (Avoid) to +100 (Strong Buy).
        Combines technical indicators, fundamentals, and sentiment analysis.

        Cached for 12 hours. Internal endpoint; authentication required.
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of picks to return
      responses:
        '200':
          description: Successful response with market insights
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
            Cache-Control:
              description: Cache control header
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      picks:
                        type: array
                        items:
                          type: object
                          properties:
                            symbol: { type: string, example: "AAPL" }
                            label:
                              type: string
                              enum: ["Strong buy", "Good opportunity", "Neutral", "Wait", "Avoid"]
                            score:
                              type: integer
                              minimum: -100
                              maximum: 100
                              example: 42
                            confidence:
                              type: number
                              minimum: 0
                              maximum: 1
                              example: 0.85
                            updated_at: { type: string, format: date-time }
                            summary: { type: string }
                            market_context: { type: string }
                            news_summary: { type: string }
                            indicator_reasoning: { type: string }
                            strategy_hint: { type: string }
                            highlights:
                              type: object
                              properties:
                                company_name: { type: string }
                                logo_url: { type: string }
                                exchange: { type: string }
                                market_cap: { type: string }
                                pe_fwd: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                roe_pct: { type: string }
                                profit_margin_pct: { type: string }
                                revenue_yoy_pct: { oneOf: [{ type: string }, { type: string, enum: ["n/a"] }] }
                                eps_yoy_pct: { oneOf: [{ type: string }, { type: string, enum: ["n/a"] }] }
                                ev_to_ebitda: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                pb: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                ps: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                beta: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                rsi: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                                pos_52w: { type: string }
                                vol_ratio: { oneOf: [{ type: number }, { type: string, enum: ["n/a"] }] }
                      updated_at: { type: string, format: date-time }
                      total_count: { type: integer }
                      source: { type: string, enum: ["cache", "fresh", "stale"] }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/sentiment:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketSentiment
      summary: Social Sentiment - Reddit Trending Stocks
      description: |
        Returns trending stocks from Reddit communities with sentiment analysis.
        Data sourced from Adanos API. Cached for 5 minutes.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response with sentiment data
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                              example: "GME"
                            buzz_score:
                              type: number
                              minimum: 0
                              maximum: 100
                              example: 97.5
                              description: Relative discussion activity score (0-100)
                            trend:
                              type: string
                              enum: ["rising", "falling", "stable"]
                              example: "rising"
                            mentions:
                              type: integer
                              example: 163
                              description: Total posts and comments count
                            sentiment_score:
                              type: number
                              nullable: true
                              minimum: -1
                              maximum: 1
                              example: 0.32
                              description: Sentiment from -1 (bearish) to +1 (bullish)
                            bullish_pct:
                              type: number
                              nullable: true
                              minimum: 0
                              maximum: 100
                              example: 62
                              description: Percentage of bullish sentiment
                            bearish_pct:
                              type: number
                              nullable: true
                              minimum: 0
                              maximum: 100
                              example: 38
                              description: Percentage of bearish sentiment
                            total_upvotes:
                              type: integer
                              nullable: true
                              example: 1234
                            is_validated:
                              type: boolean
                              example: true
                            company_name:
                              type: string
                              nullable: true
                              example: "Gamestop Corporation - Class A"
                      last_updated:
                        type: string
                        format: date-time
                      error:
                        type: string
                        nullable: true
                        description: Error code if data could not be fetched
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/feedback:
    get:
      tags: [Feedback]
      x-internal: true
      operationId: listFeedback
      summary: List feedback (internal)
      description: Returns feedback items filtered by optional type and status.
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServiceUnavailable' }
    post:
      tags: [Feedback]
      x-internal: true
      operationId: createFeedback
      summary: Create feedback (internal)
      description: Creates a new feedback entry. Title and content are required.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content]
              properties:
                title: { type: string }
                content: { type: string }
                type: { type: string, default: feedback }
                user_email: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/feedback/like:
    post:
      tags: [Feedback]
      x-internal: true
      operationId: toggleFeedbackLike
      summary: Toggle like/unlike for feedback (internal)
      description: Toggles the like state for a specific feedback item for the current user.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback_id]
              properties:
                feedback_id: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/exchange-rate:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketExchangeRate
      summary: USD→EUR exchange rate (internal)
      description: Returns current USD→EUR exchange rate used by the app.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/market/dividend-dates:
    get:
      tags: [Market]
      x-internal: true
      operationId: marketDividendDates
      summary: Dividend ex/payment dates by month (internal)
      description: Returns grouped dividend ex-dates and payment dates for a given month.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: month
          required: false
          schema:
            type: string
            pattern: '^\\d{4}-\\d{2}$'
          description: Month in YYYY-MM format. Defaults to current month.
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  # User (internal)
  /api/v1/user/session:
    get:
      tags: [User]
      x-internal: true
      operationId: userSession
      summary: Get current session (internal)
      description: Returns a snapshot of the current authenticated user including metadata and identities.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      tags: [User]
      x-internal: true
      operationId: updateUserSession
      summary: Update user metadata (internal)
      description: |
        Updates user metadata. Commonly used for storing user preferences like notification read timestamps.
        Provided metadata fields update the corresponding fields in user_metadata, while fields not included in the request remain unchanged.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_metadata]
              properties:
                user_metadata:
                  type: object
                  description: User metadata fields to update. Fields not included remain unchanged.
                  properties:
                    last_notification_read_at:
                      type: string
                      format: date-time
                      nullable: true
                      description: ISO 8601 timestamp of when the user last read their notifications
                      example: "2025-11-03T14:30:00.000Z"
                    dashboard_theme_preference:
                      type: string
                      enum: [light, dark, system]
                      description: User's preferred dashboard theme
                  additionalProperties: true
            examples:
              notification_timestamp:
                summary: Update notification read timestamp
                value:
                  user_metadata:
                    last_notification_read_at: "2025-11-03T14:30:00.000Z"
              theme_preference:
                summary: Update theme preference
                value:
                  user_metadata:
                    dashboard_theme_preference: "dark"
      responses:
        '200':
          description: User metadata updated successfully
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user_metadata:
                        type: object
                        description: Complete merged user metadata
                        additionalProperties: true
                  meta:
                    type: object
                    properties:
                      rate_limit:
                        $ref: '#/components/schemas/MetaRateLimit'
              examples:
                success:
                  value:
                    success: true
                    data:
                      user_metadata:
                        dashboard_theme_preference: "dark"
                        last_notification_read_at: "2025-11-03T14:30:00.000Z"
                        existing_field: "preserved_value"
                    meta:
                      rate_limit:
                        limit: 30
                        remaining: 29
                        reset: 1736180400000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/user/logout:
    post:
      tags: [User]
      x-internal: true
      operationId: userLogout
      summary: Logout (internal)
      description: Signs out the current user session.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # Auth
  /api/v1/auth/login:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authLogin
      summary: Login with password or magic link
      description: |
        Performs user login. For password login, sets session cookies on success and returns a user summary.
        For magic link, sends a login link to the provided email and returns `{ sent: true }`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthLoginPasswordRequest'
                - $ref: '#/components/schemas/AuthLoginMagicLinkRequest'
      responses:
        '200':
          description: Logged in or magic link sent
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessAuthLoginEnvelope' }
              examples:
                password_success:
                  value:
                    success: true
                    data: { user: { id: "00000000-0000-4000-8000-000000000000", email: "john@example.com" } }
                    meta:
                      rate_limit: { limit: 10, remaining: 9, reset: 1736180400000 }
                magic_link_sent:
                  value:
                    success: true
                    data: { sent: true }
                    meta:
                      rate_limit: { limit: 10, remaining: 9, reset: 1736180400000 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/auth/register:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authRegister
      summary: Register a new user
      description: Registers a user and sends a confirmation email if required by project settings.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthRegisterRequest' }
      responses:
        '200':
          description: Registered (confirmation email may be sent)
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessAuthRegisterEnvelope' }
              examples:
                example:
                  value:
                    success: true
                    data: { user_created: true, confirmation_sent: true }
                    meta:
                      rate_limit: { limit: 5, remaining: 4, reset: 1736180400000 }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authRefresh
      summary: Refresh session or JWT
      description: |
        Refreshes the current session (cookie-based) or exchanges a provided refresh token for a new session/JWT.
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthRefreshRequest' }
      responses:
        '200':
          description: Refreshed
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessAuthRefreshEnvelope' }
              examples:
                example:
                  value:
                    success: true
                    data: { refreshed: true }
                    meta:
                      rate_limit: { limit: 30, remaining: 29, reset: 1736180400000 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/auth/request-reset:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authRequestPasswordReset
      summary: Request password reset email
      description: Sends a password reset email with a link that sets a recovery session on callback.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthRequestPasswordResetRequest' }
      responses:
        '200':
          description: Reset email dispatched
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessAuthResetRequestedEnvelope' }
              examples:
                example:
                  value:
                    success: true
                    data: { sent: true }
                    meta:
                      rate_limit: { limit: 5, remaining: 4, reset: 1736180400000 }
        '422':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                missing_email:
                  value:
                    success: false
                    error: { code: VALIDATION_ERROR, message: email is required }
        '429':
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                throttled:
                  value:
                    success: false
                    error: { code: RATE_LIMITED, message: Too many requests }

  /api/v1/auth/reset-confirm:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authResetConfirm
      summary: Confirm password reset using token
      description: |
        Verifies the recovery token and sets a new password. As an alternative to the callback + `/api/v1/user/account/password` flow.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthResetConfirmRequest' }
      responses:
        '200':
          description: Password reset completed
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessAuthResetConfirmEnvelope' }
              examples:
                example:
                  value:
                    success: true
                    data: { reset: true }
                    meta:
                      rate_limit: { limit: 10, remaining: 9, reset: 1736180400000 }
        '400':
          description: Bad request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                update_failed:
                  value:
                    success: false
                    error: { code: BAD_REQUEST, message: Failed to set new password }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                invalid_token:
                  value:
                    success: false
                    error: { code: UNAUTHORIZED, message: Invalid or expired recovery token }
        '429':
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                throttled:
                  value:
                    success: false
                    error: { code: RATE_LIMITED, message: Too many requests }

  /api/v1/auth/session:
    get:
      tags: [Auth]
      x-internal: true
      operationId: authSession
      summary: Get current session (alias)
      description: Alias of `/api/v1/user/session` for unified auth namespace.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    patch:
      tags: [Auth]
      x-internal: true
      operationId: updateAuthSession
      summary: Update user metadata (alias)
      description: Alias of `PATCH /api/v1/user/session` for unified auth namespace. Updates user metadata fields.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_metadata]
              properties:
                user_metadata:
                  type: object
                  description: User metadata fields to update. Fields not included remain unchanged.
                  additionalProperties: true
      responses:
        '200':
          description: User metadata updated successfully
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      x-internal: true
      operationId: authLogout
      summary: Logout (alias)
      description: Alias of `/api/v1/user/logout` for unified auth namespace.
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/auth/oauth/{provider}:
    get:
      tags: [Auth]
      x-internal: true
      operationId: authOauthStart
      summary: Start OAuth login flow (redirect)
      description: |
        Starts an OAuth login flow and redirects the client to the provider's authorization URL.
        Use `redirect_to` to control the callback destination.
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, github, apple, azure]
          description: OAuth provider to use
        - name: redirect_to
          in: query
          required: false
          schema: { type: string }
          description: Absolute URL to redirect back after auth
      responses:
        '302':
          description: Redirect to provider authorization URL
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
        '400':
          description: Bad request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    post:
      tags: [Auth]
      x-internal: true
      operationId: authOauthStartWithOnboarding
      summary: Start OAuth login flow (JSON) + stash onboarding alert
      description: |
        Starts an OAuth login flow and returns the provider authorization URL in JSON. Optionally stashes an onboarding alert payload
        in a short-lived HTTP-only cookie to be processed after authentication in `/callback`.
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, github, apple, azure]
          description: OAuth provider to use
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                redirect_to:
                  type: string
                  description: Absolute URL to redirect back after auth (defaults to `/callback`).
                onboarding_alert:
                  type: object
                  description: Optional onboarding alert to stash server-side.
                  properties:
                    stock:
                      type: object
                      properties:
                        symbol: { type: string }
                        name: { type: string }
                        price: { type: number, nullable: true }
                    alert:
                      type: object
                      properties:
                        condition_id: { type: string }
                        value: { type: number, nullable: true }
                        parameters: { type: object, additionalProperties: true }
                    created_at: { type: string, format: date-time }
                    onboarding_id: { type: string }
      responses:
        '200':
          description: Provider authorization URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      url: { type: string }
              examples:
                example:
                  value:
                    success: true
                    data:
                      url: "https://accounts.google.com/o/oauth2/v2/auth?..."
        '400':
          description: Bad request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                unsupported_provider:
                  value:
                    success: false
                    error: { code: BAD_REQUEST, message: Unsupported provider }
                invalid_redirect:
                  value:
                    success: false
                    error: { code: BAD_REQUEST, message: invalid redirect_to url }
        '429':
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/X-RateLimit-Limit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/X-RateLimit-Remaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/X-RateLimit-Reset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                throttled:
                  value:
                    success: false
                    error: { code: RATE_LIMITED, message: Too many requests }
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
              examples:
                oauth_failed:
                  value:
                    success: false
                    error: { code: INTERNAL_ERROR, message: OAuth initialization failed }

  /api/v1/user/preferences/currency:
    put:
      tags: [User]
      x-internal: true
      operationId: updateUserCurrency
      summary: Update preferred currency (internal)
      description: Sets the preferred currency for pricing and display.
      x-required-scopes: [user:write]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferred_currency]
              properties:
                preferred_currency:
                  type: string
                  enum: [USD, EUR]
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/user/preferences/newsletter:
    get:
      tags: [User]
      x-internal: true
      operationId: userPreferencesNewsletterGet
      summary: Get newsletter preferences (internal)
      description: Returns current newsletter preferences for the authenticated user.
      x-required-scopes: [user:read]
      security:
        - BearerAuth: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      tags: [User]
      x-internal: true
      operationId: userPreferencesNewsletterPut
      summary: Update newsletter preferences (internal)
      description: Updates newsletter preferences for the authenticated user.
      x-required-scopes: [user:write]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
[...]
